@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Martel Sans", sans-serif;
}





.body{
    background-color: black;
    color: white;
}

.container {
    display: flex;
    gap: 20px; /* Adjust as needed */
}
.left{
     width: 25vw;
     padding: 10px;
}

.right{
     width: 75vw;
     margin: 23px 0;
     margin-right: 20px;
     position: relative;
    
}

.home ul li{
    display: flex;
    list-style: none;
    width: 18px;
    gap : 10px;
    padding-top: 8px;
    font-weight: bold;
    align-items: center;  
}
.library{
    min-height: 70vh;
    position: relative;
}
.heading{
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}
.footer{
    display: flex;
    gap: 10px;
    font-size: 10px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.footer a{
    color: grey;
}


.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(11, 11, 11);
    border-radius: 8px;
}
.header>*{
    padding: 10px;
}
.spotifyPlaylists{
    padding: 10px;

}
.cardContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
    max-height: 67.5vh;
    overflow-y: scroll;
}

 .card{
    width: 160px;
    padding: 10px;
    border-radius: 5px;
    background-color: #000000;
    position: relative;

}

.card img{
    width: 100%;
    object-fit: contain;
    padding-top: 10px;
}
.play{
    position: absolute;
    right: 8%;
    top : 35%;
}
.buttons>*{
    margin : 0 0px;
}
.signupbtn{
    background-color: rgb(11, 11, 11);
    color: gray;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.signupbtn:hover{
    font-size: 17px;
    color: white;
    
}
.loginbtn{
    background-color: white;
    color: black;
    padding: 8px 20px;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    
}
.loginbtn:hover {
    font-weight: bold;  
    font-size: 17px;
      padding: 8px 24px;
 
}
.playbar{
    position: absolute;
    bottom: 0;
 background-color: #00FF66; /* Neon green */


    width: 93%;
    padding: 7px 12px;
    margin: 10px 10px;
    border-radius: 8px;
}
.songbuttons{
    display: flex;
    gap: 10px;
    justify-content: center;
}