.border{
    border: 2px solid red;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.bg-color{
    background-color: #000;
    color: white;
}
.invert{
   filter: invert(1);
}
.bg-grey{
    background-color: #252525;
}
.rounded{
    border-radius: 8px;
}
.m-1{
    margin: 13px;
}
.p-1{
    padding: 10px;
}
